[Unit]
Description=Run Ansible Auto-Update Script
After=network.target
OnFailure=notify-admin@%n.service

[Service]
Type=oneshot
WorkingDirectory=/home/modaradmin/Projekte/ansible-auto-updates
ExecStart=./scripts/auto_update.sh
StandardOutput=journal
StandardError=journal
Environment=ENV=production
